/* Header style */

body {
 
  /* min-height: 100%; */
  margin: 0;
  padding: 0;
  width: 1440px;
}
* {
  margin: 0;
  padding: 0;
}

.header {
  height: 124px;
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 86px;
}

.logo-container {
  height: 62.73px;
  width: 147.8px;
  margin-right: 251.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.logo-container__pic {
  width: 62.22px;
  height: 62.73px;
  background-image: url(../img/Group\ 1.png);
}

.logo-container__text {
  width: 74px;
  height: 52px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 876px;
  height: 27px;
}

.header__href {
  font-family: "Poppins";
  font-size: 18px;
  line-height: auto;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.heading-img {
  padding-top: 33.63px;
  height: 636px;
  display: flex;
  justify-content: center;
}

.img-wrapper {
  width: 1287.2px;
  height: 602.37px;
  padding-left: 66px;
  padding-top: 152px;
  box-sizing: border-box;
  background-color: blueviolet;
  color: #ffffff;
}

.img-wrapper__title {
  width: 580.51px;
  height: 297.55px;
  margin: 0;
  padding: 0;
  font-size: 70px;
}

.img-wrapper__title_color-red {
  color: red;
}

/*Our experience*/

.our-experience-section {
  height: 773px;
  padding-top: 117.6px;
}

.our-experience-section__title {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  line-height: 85px;
  font-family: "Poppins";
  margin-left: 103px;
  margin-bottom: 25.25px;
}

.cards {
  display: flex;
  justify-content: center;
}

.card__wrapper {
  height: 432.62px;
  width: 262px;
  margin-right: 30px;
  padding-top: 24.7px;
  padding-left: 22.3px;
  background-size: cover;
  border-radius: 10px;
}

.card__wrapper:nth-child(1) {
  background-image: url("../img/Group 28.svg");
}

.card__wrapper:nth-child(2) {
  background-image: url("../img/Group\ 29.png");
}

.card__wrapper:nth-child(3) {
  background-image: url("../img/Group 30.png");
}

.card__wrapper:nth-child(4) {
  background-image: url("../img/Group 31.png");
  margin-right: 0;
}

.card__header {
  color: #ffffff;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  margin-bottom: 19px;
}

.card__text {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-right: 31px;
}

/* Why coose us */
.why-choose-us-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  background-color: #f4f4f4;
  height: 859.3px;
}

.box {
  width: 1140px;
  height: 638.7px;
  display: grid;
  box-sizing: border-box;
  grid-template: repeat(auto-fit, 303.86px) / repeat(auto-fit, 360px);
  grid-template-areas:
    ". f i"
    "b o n";
  gap: 30px;
}

.text-box__title {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: bold;
  line-height: 67px;
  color: #131313;
  margin-top: 30px;
  margin-bottom: 20px;
}

.text-box__text {
  font-family: "Roboto";
  font-weight: regular;
  font-size: 18px;
  line-height: 22px;
  color: #3e3e3e;
  margin: 0;
}
.inner__text {
  padding-left: 10px;
}

.tab-box1,
.tab-box2,
.tab-box3,
.tab-box4,
.tab-box5 {
  background-color: white;
  border-radius: 10px;
  padding: 20.7px;
}

.tab-box1 {
  grid-area: f;
}
.tab-box2 {
  grid-area: i;
}
.tab-box3 {
  grid-area: b;
}
.tab-box4 {
  grid-area: o;
}
.tab-box5 {
  grid-area: n;
}

.active-tab {
  background-color: red;
  color: white;
}

.active-tab p {
  color: white;
}

.tab-box__text {
  margin: 0;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #787878;
}

.tab-box__number {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 58px;
  margin: 0;
  color: #ee0000;
}

.tab-box__heading {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  margin-bottom: 20px;
  line-height: 29px;
  color: #5c5c5c;
}

/* Who__we__are*/

.who-we-are-section {
  position: relative;
  height: 571.65px;
  background-color: red;

  padding-left: 150.45px;
  padding-right: 150.45px;

  color: #ffffff;
  font-family: Poppins;
}

.who-we-are-section__title {
  display: inline-block;
  font-weight: bold;
  font-size: 50px;
  color: #ffffff;
  margin-top: 90.83px;
  margin-bottom: 6px;
}

.who-we-are-section__text {
  width: 532.82px;
  height: 210px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30.45px;
  margin-right: 67.05px;
}

.who-we-are-img-wrapper {
  position: absolute;
  width: 538.66px;
  height: 457.42px;
  background: url(../img/Group\ 32.png);
  left: 750.32px;
  top: 44.05px;
}

.read-more-btn {
  background-color: #ffffff;
  border-radius: 40px;
  color: black;
  text-decoration: none;
  padding: 14px 35px;
  margin-right: 31.76px;
}

.contact-us-btn {
  background: black;
  border-radius: 40px;
  color: #ffffff;
  border: none;
  font-family: "Poppins";
  font-size: 15px;
  padding: 14px 35px;
  cursor: pointer;
}

/* What we do */
.what__we__do__section {
  height: 865.62px;
}
.title-box {
  height: 135.77px;
  padding-top: 94.71px;
}

.title1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #ee0000;
  /* margin-top: 94.71px; */
  width: 130px;
  margin-left: 640px;
}

.title2 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;
  color: #131313;
  width: 334.64px;
  margin-left: auto;
  margin-right: auto;
}

.tab-box-wrapper {
  display: flex;
  justify-content: center;
  height: 635.14px;
  display: grid;
  grid-template: repeat(2, 250.02px) / repeat(3, 350px);
  grid-template-areas:
    "a e b"
    "c e d";
  gap: 33.93px;
}

.tab1 {
  grid-area: a;
}
.tab2 {
  grid-area: b;
}
.tab3 {
  grid-area: c;
}
.tab4 {
  grid-area: d;
}
.tab5 {
  grid-area: e;
}

.tab1,
.tab2,
.tab3,
.tab4 {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding-left: 20.33px;
  padding-top: 24.64px;
}

.tab2 {
  padding-left: 17px;
  padding-top: 23px;
}

.tab3 {
  padding-left: 20px;
  padding-top: 30px;
}

.tab4 {
  padding-left: 20.18px;
  padding-top: 30.46px;
}

.tab5 {
  background-image: url("../img/businesswoman-presenting-new-solar-panel-2022-09-15-21-49-26-utc-1024x683\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px;
}

.tab__title {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 39px;
  font-weight: bold;
  color: #464646;
  margin: 0;
  margin-bottom: 4.64px;
}

.tab__text {
  font-family: "Roboto";
  font-size: 19px;
  line-height: 25px;
  font-weight: 300px;
  color: #787878;
  margin: 0;
}

.tab1 img {
  margin-bottom: 21.3px;
}
.tab2 img {
  margin-bottom: 8.9px;
}
.tab4 img {
  margin-bottom: 17.02px;
}
.tab3 img {
  margin-bottom: 18.49px;
}

/*Footer*/

.footer {
  height: 718.47px;
  background-color: black;
  display: grid;
  grid-template-columns: 528px 204px 279px 425.79px;
  grid-template-rows: 184.41px 469px 63.06px;
  grid-template-areas:
    "a a a a"
    "b c d e"
    "f f f f";
}
.footer p {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
  color: #ffffff;
}

.box1 {
  grid-area: a;
}
.box2 {
  grid-area: b;
}
.box3 {
  grid-area: c;
}
.box4 {
  grid-area: d;
}
.box5 {
  grid-area: e;
}
.box6 {
  grid-area: f;
}

.box1 {
  padding-top: 45.83px;
}

.box1__text {
  margin: 0;
  width: 1072.5px;
  height: 93px;
  padding-left: 150.5px;
  margin-bottom: 44.77px;
}

.box1__line {
  border: 1px solid #ffffff;
  margin: 0;
  opacity: 20%;
}

.box2 {
  padding-left: 150.5px;
  padding-top: 102.31px;
}

.box2__text {
  margin: 0;
  width: 336.42px;
  height: 162px;
  margin-bottom: 44.77px;
}

.box2 .logo-container {
  margin-bottom: 30.12px;
}

.box3 {
  padding-top: 145.4px;
  padding-left: 55px;
}

.box3__title {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 35px;
}

.box3__bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 107px;
  height: 210px;
}

.links {
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 300;
}

.box4 {
  padding-top: 145.4px;
  padding-left: 55px;
}

.box4__title {
  margin: 0;
  margin-bottom: 14px;
}

.box4__bar {
  display: flex;
  width: 179px;
  height: 140px;
  flex-direction: column;
  justify-content: space-around;
}

.box5 {
  display: flex;
  padding-top: 145.4px;
  padding-left: 33.34px;
  flex-direction: column;
  gap: 20px;
}

.box5__number-wrapper {
  display: flex;
  width: 124.93px;
  height: 21.82px;
}

.box5__number-wrapper img {
  width: 21px;
  height: 21px;
  margin-right: 14.93px;
}

.box5 p {
  margin: 0;
  display: flex;
  align-items: center;
}

.social__links {
  width: 94px;
  height: 26.12px;     
}

.box5__email-wrapper {
  display: flex;
  width: 230.94px;
  height: 19.05px;
}

.box5__email-wrapper img {
  margin-right: 18.47px;
}

.box5__email-wrapper p {
  display: flex;
  align-items: center;
}

.box6 {
  padding-left: 442.5px;
}

.box6__text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24;
  width: 555px;
  height: 25px;
}

/* Счетчик времени */

.timer__window {
  height: 400px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.timer__window p {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: lighter;
}

.counter__wrapper {
  display: flex;
  gap: 15px;
}

.time {
  display: flex;
  width: 100px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 2px dashed goldenrod;
  border-radius: 20px;
}

.text__wrapper {
  display: flex;
  width: 461px;
  justify-content: space-between;
}

.counter__text {
  display: flex;
  width: 100px;
  justify-content: center;
}


/* modal window */
.modal {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;
}
.modal__window {
    position: relative;
    width: 500px;
    height: 300px;
    background-color: rgb(255, 0, 0, 0.9);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    /* top: calc(50% - 170px);
    left: calc(50% - 250px); */
    top: 160px;
   
}

.hide {
    display: none;
}

.show {
    display: block;
}

.modal__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-family: "Roboto";
}


#name, #phone {
    width: 300px;
    height: 45px;
    font-size: 20px;
    border-radius: 40px;
    padding: 10px;
    /* box-shadow: 10px 10px; */
    border: none;
}


.modal-btn {
   font-family: "Poppins";
   font-size: 15px;
   border-radius: 40px;
   background-color: rgba(0,0,0);
   padding: 14px 35px;
   color: #ffffff;
   border: none;
   width: 250px;
   cursor: pointer;
}

.modal-btn [placeholder] {
    text-align: center;
}

input[type="text"]::placeholder {
  text-align: center;  /* Плейсхолдер теперь центрирован */
}


.modal__cross {
   position: absolute;
   left: 430px;
   top: 5px;
   cursor: pointer;
}

.modal__cross-img {
   background-size: cover;
  }